{% extends "base.html" %}

{% block title %}
User
{% endblock %}

{% block content %}

<h2>Welcome {{ user }}</h2>

<form action="#" method="POST">

    <div class="mb-3">

        <label class="form-label">Email</label>

        <input
            type="email"
            class="form-control"
            name="email"
            placeholder="Enter your email"
            value="{{ email if email else '' }}">

    </div>

    <input
        type="submit"
        class="btn btn-success"
        value="Save Email">

</form>

{% if email %}
<hr>

<h4>Saved Email</h4>

<p>{{ email }}</p>
{% endif %}

{% endblock %}